/*--------------------------通用属性-----------------------------------------*/
*{
    margin:0;padding:0;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
li {
    list-style:none;
}
a {
    text-decoration:none;
}
#banner {
    width:100%;height:720px;position:relative;
}
#imageList li{
    display:none;
}
#imageList .current {
    display:block;
}
#imageList img {
    width:100%;height:720px;
}
#header {
    width:100%;height:100px;background:rgba(19,19,21,.8);position:absolute;top:0;
}
.logo {
    background:url(../images/Home_03.png);width:135px;opacity:0.8;
    height:61px;margin:20px 0 0 108px;
}
.nav {
    margin-right:50px;height:100px;padding-top:40px;padding-bottom:40px;
}
.navLeft>li {
    float:left;margin-right:24px;height:20px;
}
.sjx {
    position:relative;
}
.sjx span {
    width:0;height:0;border:3px solid transparent;
    border-top:3px solid #fff;position:absolute;margin-top:10px;margin-left:5px;
}
.sjx:hover .twolist{
    display:block;
}
.twolist {
    width:100px;height:70px;background-color:#fcb941;
    position:absolute;left:-15px;top:20px;display:none;
}
.twolist a {
    display:block;height:35px;line-height:35px;color:#7a5a1f;width:85px;padding-left:15px;
}
.twolist a:hover {
    background:greenyellow;cursor:pointer;
}
.navLeft>li>a {
    color:#fff;line-height:20px;
}
.navRight {
    margin-right:118px;height:20px;line-height:20px;
}
.navRight>a {
    color:#fff;
}
.yx {
    background:url(../images/images/yx_03.png) no-repeat left center;
}
.tell {
    background:url(../images/images/tell_03.png) no-repeat left center;margin-left:25px;
}
.yx span {
    margin-left:24px;
}
.tell span {
    margin-left:23px;
}
/*----------------------------------按钮  轮播图--------------------------------*/
.btns span{
    position: absolute;
    width:55px;
    height:55px;
   top:50%;margin-top:-28px;
    cursor:pointer;
}
 .leftBtn{
    background: url(../images/slide-btnL.png);
    left:10px;
}
 .rightBtn{
    background:url(../images/slide-btnR.png);
    right: 10px;
}
 .circles{
    position: absolute;
    bottom:40px;
    /*width:200px;*/
    height:17px;
    left:50%;
    margin-left: -50px;
}
 .circles ol{
    list-style: none;
}
 .circles ol li{
    float:left;
    width:17px;
    height:17px;
    margin-right: 13px;
    background:gold;
    border-radius: 50%;
    cursor:pointer;
}
 .circles ol li.current{
    background:purple;
}

#section {
    width:100%;height:680px;background-color:#fff;
}
 .part {
     width:1150px;margin:0 auto;
 }
.part>div {
    padding-left:10px;
}
.part>h2 {
     font-size:40px;color:#fcb941;margin-top:65px;margin-bottom:60px;text-align:center;
 }
.oDiv1,.oDiv2{
    width: 520px;
    height: 300px;
    border:10px solid #e4e4e4;
    background-size:95%;
    transition: 1s;
}
.oDiv1 {
    background: url(../images/22.jpg) ;

}
.oDiv2 {
    background: url(../images/33.jpg);

}
.oDiv1:hover,.oDiv2:hover{
    background-size:100%;
    background-position: center center;
}
.part>div {
    overflow:hidden;
}
.part>p {
    line-height:25px;margin-top:45px;text-align:center;color:#bbb;
}
#serv {
    height:440px;background:#fcb941;width:100%;padding-top:10px;padding-bottom:10px;
}
.serv {
    width:1110px;margin:0 auto;
}
.serv>h2 {
    font-size:40px;color:#fff;text-align:center;font-weight:normal;margin-top:60px;margin-bottom:60px;
}
.rump>li {
    float:left;text-align:center;width:245px;margin-right:43px;
}
.rump>li img {
    border:5px solid transparent;border-radius:50%;
}
.rump>li>h3 {
    margin-top:30px;margin-bottom:30px;
}
.rump>li>p {
    line-height:25px;
}
.rump>li img:hover {
    border:5px solid rgb(252,185,65);box-shadow: 0 0 10px 3px #212121; ;transition:1s;
}
#lunbo {
    height:500px;width:100%;background:#b08d65;padding-top:10px;padding-bottom:10px;
    position:relative;
}
#lunbo>h2 {
    font-size:40px;color:#fff;text-align:center;font-weight:normal;
    margin-top:60px;margin-bottom:220px;
}
#Carousel,#twoCarousel {
    width:1125px;margin:0 auto;
}
#Carousel>li,#twoCarousel>li {
    float:left;width:352px;position:relative;
}
#Carousel>li img,#twoCarousel>li img{
    width:55px;height:55px;vertical-align:top;margin-left:80px;
}
.inline {
    display:inline-block;width:78px;margin-left:10px;
}
.inline>span {
    color:#ffa114;font-size:14px;line-height:20px;
}
.inline i {
    color:#fff;font-style:normal;
}

.introduction {
    padding-top:24px;padding-bottom:21px;height:65px;width:352px;background:rgba(30,22,17,.8);
    position:absolute;left:0;bottom:88px;
}
.introduction span {
    position:absolute;width:0;height:0;border:5px solid transparent;border-top:5px solid rgba(30,22,17,.8);
    top:110px;left:102px;
}
.introduction p {
    color:#fff;line-height:25px;margin-left:15px;
}
.circles2{
    position: absolute;
    bottom:40px;
    height:17px;
    left:50%;
    margin-left: -50px;
}
.circles2 ol{
    list-style: none;
}
.circles2 ol li{
    float:left;
    width:13px;
    height:13px;
    margin-right: 13px;
    background:#dc9638;
    border-radius: 50%;
    cursor:pointer;
}
.circles2 ol li.current{
    background:#ff9800;
}
#footnav {
    height:298px;width:100%;background:#fff;position:relative;
}
#footnav h2 {
    font-size:40px;color:black;text-align:center;font-weight:normal;
    margin-top:60px;margin-bottom:70px;
}
#yxyz {
    width:1124px;margin:0 auto;
}
#yxyz>div {
    width:468px;height:48px;border:1px solid #fcd99a;background:#fdf3e0;float:left;padding-left:10px;
}
#yxyz input {
    border:none;outline:none;background:#fdf3e0;margin-top:18px;color:#c1beb9;
}
#submit {
    height:50px;background:#000;color:#fff;width:108px;line-height:50px;outline:none;border:none;
}
#Popup {
    width:300px;height:180px;border:1px solid greenyellow;
    position:absolute;top:50%;left:50%;margin-top:-90px;
    margin-left:-150px;background:rgba(253,243,224,.9);

}
#Popup>p {
    margin-left:40px;margin-top:60px;line-height:30px;
}
#name {
    height:20px;display:block;
}
#email {
    height:20px;display:block;
}
#queren {
    padding:0 10px;position:absolute;bottom:20px;right:30px;
}
.footer {
    height:420px;width:100%;background:url(../images/images/dfgd_02.png);
}