/*通用样式*/
*{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
}
li{ list-style: none;}
/*页头*/
.header-top{
    width:1320px;
    height:133px;
    /*background:red;*/
    margin:0 auto;
}
.header-top-left{
    width:590px;
    height:133px;
    /*background:blue;*/
    float:left;
}
.header-top-left h1{
    font-size:40px;
    font-family:微软雅黑;
    margin:40px 0 0 143px;
    color:#121212;
}
.header-top-left span{
    font-size:20.33px;
    font-family:微软雅黑;
    padding-left:142px;
    color:#141414
}
.header-top-right{
    width:460px;
    height:133px;
    /*background:gray;*/
    float:right;
}
.header-top-right a{
    color:#999999;
    font-family:宋体;
    font-size:16px;
    margin-left:13px;
}
.header-top-right-top{
    width:230px;
    height:50px;
    /*background:green;*/
    float:right;
    margin-top:14px;
}
.header-top-right-bottom{
    width:460px;
    height:69px;
    /*background:#ccc;*/
    float:right;
}
.header-top-right-bottom p{
    color:#59ca06;
    font-size:32px;
    font-family: FZZZHONGJW;
    margin:1px 40px 11px ;
}
/*导航*/
nav{
    width:100%;
    height:95px;
}
nav .nav-top{
    width:100%;
    height:58px;
    background:#59ca06;
}
nav .nav-top .nav-top-ul{
    width:1320px;
    height:58px;
    margin:0 auto;
}
nav .nav-top li{
    width:146px;
    height:58px;
    float:left;
    line-height:50px;
    text-align: center;
}
nav .nav-top li a{
    color:#ffffff;
}
nav .nav-bottom{
    width:100%;
    height:37px;
    background:#e4e6ea;
}
/*背景*/
.tu{
    width:100%;
    height:375px;
}
.tu .tu-1{
    margin:0 auto;
    width: 1320px;
    height:375px;
    background:green;
}
/*身体第一部分*/
section{
    width:100%;
    height:845px;
}
section .section-top{
    width:1320px;
    height:261px;
    margin:0 auto;
    margin-top:28px;
}
.section-top .section-top-left{
    width:326px;
    height:261px;
     float:left;
}
.section-top-left .section-top-left-1{
        width:326px;
        height:50px;
        background:#f1f1f1;
}
.section-top-left .section-top-left-1 img{
    margin:22px 0 0 20px;
}
.section-top-left .section-top-left-1 h1{
    margin:-30px 0 0 40px;
    font-family:Arial;
    font-size:26px;
    color:#333333;
}
.section-top-left .section-top-left-1 span{
    float:left;
    display:inline-block;
    margin-top:-20px;
    margin-left:155px;
    font-family:Times;
    color:#cccccc;
}
.section-top-left .section-top-left-2{
    width:326px;
    height:200px;
    margin-top:11px;
}
.section-top-left .section-top-left-2 img{
     width:326px;
    height:200px;
}
.section-top .section-top-middle{
     width:644px;
    height:261px;
    float:left;
    margin-left:19px;
}
.section-top-middle .section-top-middle-1{
        width:644px;
        height:50px;
        background:#f1f1f1;
}
.section-top-middle .section-top-middle-1 img{
    margin:22px 0 0 20px;
}
.section-top-middle .section-top-middle-1 h1{
    margin:-30px 0 0 40px;
    font-family:Arial;
    font-size:26px;
    color:#333333;
}
.section-top-middle .section-top-middle-1 span{
    float:left;
    display:inline-block;
    margin-top:-25px;
    margin-left:155px;
    font-family:Times;
    color:#cccccc;
}
.section-top-middle .section-top-middle-1 a{
    margin-right:50px;
    margin-top:-25px;
    float:right;
    color:#999999;
    font-family: 宋体;
}
.section-top-middle .section-top-middle-2 img{
    margin:13px 0 0 15px;
}
.section-top-middle .section-top-middle-2 h1{
    display:inline-block;
    margin-left: 218px;
    margin-top:-150px;
    float:left;
    font-size:17.33px;
    font-family: 宋体;
    color:#000000;
    line-height: 30px;
}
.section-top .section-top-right{
     width:312px;
    height:261px;
    background:gray;
     float:left;
     margin-left:19px;
     background:#ffffff;
}
.section-top .section-top-right .section-top-right-1{
        width:312px;
        height:50px;
}
.section-top .section-top-right  .section-top-right-1 img{
     margin:22px 0 0 20px;
}
.section-top .section-top-right  .section-top-right-1 h1{
     margin:-30px 0 0 40px;
    font-family:Arial;
    font-size:26px;
    color:#333333;
}
.section-top .section-top-right  .section-top-right-1 span{
     float:left;
    display:inline-block;
    margin-top:-25px;
    margin-left:155px;
    font-family:Times;
    color:#cccccc;
}
.section-top .section-top-right  .section-top-right-2 img{
      margin:5px 0 0 0px;
}
/*身体第二部分*/
section .section-center{
    width:1320px;
    height:259px;
    margin:0 auto;
    margin-top:19px;
}
.section-center .section-center-1{
    width:1320px;
    height:54px;
    background:#f1f1f1;
}
.section-center .section-center-1 img{
    margin:22px 0 0 20px;
}
.section-center .section-center-1 h1{
     margin:-30px 0 0 40px;
    font-family:Arial;
    font-size:26px;
    color:#333333;
}
.section-center .section-center-1 span{
     float:left;
    display:inline-block;
    margin-top:-20px;
    margin-left:155px;
    font-family:Times;
    color:#cccccc;
}
.section-center .section-center-1 a{
     margin-right:35px;
    margin-top:-25px;
    float:right;
    color:#999999;
    font-family: 宋体;
}
.section-center .section-center-2{
    width:1320px;
    height:205px;
}
.section-center .section-center-2 img{
    width:100%;
    height:205px;
}
/*身体第三部分*/
section .section-bottom{
    width:1320px;
    height:260px;
    background:#ffffff;
    margin:0 auto;
    margin-top:20px;
}
.section-bottom .section-bottom-left{
    width:326px;
    height:261px;
    float:left;
}
.section-bottom .section-bottom-left .section-bottom-left-1{
        width:326px;
        height:50px;
        background:#f1f1f1;
}
.section-bottom .section-bottom-left .section-bottom-left-1 img{
    margin:22px 0 0 20px;
}
.section-bottom .section-bottom-left .section-bottom-left-1 h1{
    margin:-30px 0 0 40px;
    font-family:Arial;
    font-size:26px;
    color:#333333;
}
.section-bottom .section-bottom-left .section-bottom-left-1 span{
    float:left;
    display:inline-block;
    margin-top:-20px;
    margin-left:155px;
    font-family:Times;
    color:#cccccc;
}
.section-bottom .section-bottom-left .section-bottom-left-2{
     width:326px;
    height:211px;
   
}
.section-bottom .section-bottom-left .section-bottom-left-2 img{
    width:100%;
    height:211px;
}
.section-bottom .section-bottom-center{
    width:644px;
    height:261px;
    float:left;
    margin-left:19px;
}
.section-bottom .section-bottom-center-1{
        width:644px;
        height:50px;
        background:#f1f1f1;
}
.section-bottom .section-bottom-center-1 img{
 margin:22px 0 0 20px;
}
.section-bottom .section-bottom-center-1 h1{
    margin:-30px 0 0 40px;
    font-family:Arial;
    font-size:26px;
    color:#333333;
}
.section-bottom .section-bottom-center-1 span{
     float:left;
    display:inline-block;
    margin-top:-25px;
    margin-left:155px;
    font-family:Times;
    color:#cccccc;
}
.section-bottom .section-bottom-center-1 a{
    margin-right:32px;
    margin-top:-25px;
    float:right;
    color:#999999;
    font-family: 宋体;
}
.section-bottom .section-bottom-center-2{
    width:644px;
    height:100px;
}
.section-bottom .section-bottom-center-2 img{
    width:161px;
    height:100px;
    margin:11px 0 0 11px;
}
.section-bottom .section-bottom-center-2 a{
 display:inline-block;
    margin-left: 220px;
    margin-top:-100px;
    float:left;
    font-size:18.66px;
    font-family: 宋体;
    color:#38ab03;
    line-height: 16px;
    letter-spacing: 2px;
}
.section-bottom .section-bottom-center-2 span{
    display:inline-block;
    margin-left: 190px;
    margin-top:-70px;
    float:left;
    font-size:16px;
    font-family: 宋体;
    color:#666666;
    line-height: 25px
}
.section-bottom .section-bottom-center-2 h6{
    letter-spacing:3px;
     text-indent:30px;
}
.section-bottom .section-bottom-center-3{
    width:620px;
    height:76px;
    background:red;
    float:left;
    margin-top:20px;
    margin-left:12px;
    background:#f5f5f5;
}
.section-bottom .section-bottom-center-3-a a{
    float:left;
    margin-top:10px;
    margin-left:10px;
    color:#020302;
}
.section-bottom .section-bottom-center-3-a span{
    float:right;
    margin-top:10px;
    margin-right:20px;
}
.section-bottom .section-bottom-center-3-b a{
    float:left;
    margin-top:45px;
    margin-left:-160px;
     color:#020302;
}
.section-bottom .section-bottom-center-3-b span{
    float:right;
    margin-top:45px;
    margin-right:-90px;
}
.section-bottom .section-bottom-right{
    width:312px;
    height:261px;
    background:#ffffff;
    float:left;
    margin-left:19px;
}
.section-bottom .section-bottom-right-1{
    width:312px;
    height:124px;
    float:left;
}
.section-bottom .section-bottom-right-1 img{
    width:100%;
    height:124px;
}
.section-bottom .section-bottom-right-2{
    width:312px;
    height:124px;
    float:left;
    margin-top: 13px;
    background:red;
}
.section-bottom .section-bottom-right-2 img{
 width:100%;
 height:124px;
}
/*结尾*/
button{
    width:1920px;
    height:106px;
    background:#ecebec;
}
button .button-first{
    width:1920px;
    height:4px;
    background:#4eb61a;
     float:left;
     margin-top:-4px;
}
button .button-last{
    width:1920px;
    height:102px;
    float:left;
}
.button-last .button-last-on{
    width:792px;
    height:17px;
    margin:0 auto;
    margin-top:32px;
}
.button-last .button-last-on span{
    float:left;
    color:#999999;
    font-family: 宋体;
}
.button-last .button-last-on a{
    float:left;
    margin-left:19px;
    color:#999999;
    font-family: 宋体;
}
.button-last .button-last-off{
    width:308px;
    height:17px;
    margin:0 auto;
    margin-top:12px;
}
.button-last .button-last-off span{
    float:left;
    color:#999999;
    font-family: 宋体;
}