*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
#area,#time,#age #meal #game{ 
float: left; 
list-style-type: none; 
text-align: center; 
height: 30px; 
width: 80px; 
margin-left: 20px; 
} 
.one,.tow,.three,.four,.five li{
    display: none;
    width: 80px;
    height: 30px;
    background: blue;
    text-align: center;
    float: left;
}
.one,.tow,.three,.four,.five li:hover{
    cursor: pointer;
}
.one,.tow,.three,.four,.five{
    position: absolute;
    float: left;
}
.one{
    left: 20px;
}
.tow{
    left: 120px;
}
.three{
    left:220px;
}
.four{
    left: 320px;
}
.five{
    left: 420px;
}