div {
    width: 800px;
    height: 500px;
    margin: auto;
}

img {
    float: left;
     opacity: 0.8;
}
img:hover{
    opacity: 1;
}
p {
    padding-top:50px;
    font-size: 20px;
    text-indent: 2em;
    line-height: 30px;
}

.oBtn {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-top:30px;
    font-size: 20px;
    margin-left: 2em;
}
.oSpan{
    color: red;
    display: inline-block;
    width: 200px;
    height: 30px;
    font-size: 20px;
   margin-top:20px ;
    text-indent: 2em;
}